#banner{
    background-color: rgb(50, 58, 58);
    color: white;
    height: 10vh;
    text-align: center;

}
#searchDiv{
    background-color: #f5f4f0;
    color:darkslategray;

}
#current{
    /* background-color: black; */
    height: 50vh;
    width: 63vw;
    border: 1px solid lightgrey;
   
}
#uvValue{
    font-size: 25px;
    
    color: black;
    border-radius: 5px 5px 5px 5px;
}
.currentH1{
    text-align:center;
}
.date{
    color:white;
}